.roadmap {
  background-image: url(../images/bg-section/osimi-bg-section-orange.jpg);
  position: relative;
  z-index: 1;
  padding-bottom: 500px;
  .section-heading {
    position: relative;
    z-index: 3;
    margin-bottom: 50px;
    .section-title {
    }
  }
.content-rm{
  .flex-row-one{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .flex-item{
      .boxed-img{
        max-width: 200px;
        img{

        }
      }
    }
  }
  .flex-row-two{
    display:flex;
    justify-content: space-around;
    align-items: center;
    .flex-item:first-child{
      margin-left: 80px;
    }
    .flex-item:last-child{
      margin-right: 80px;
    }
  }
}
}
.roadmap .bg-bottom-roadmap{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -150px;
  left: 0;
  background-image: url(../images/bg-section/bottom-footer-osimi.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:bottom ;
  z-index: 0;
}
.roadmap .container-fluid {
  position: relative;
  z-index: 1; 
}